{% extends "base.html" %}
{% block title %}Quizzes in {{ category.name }} | Quiz Zone{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center my-4">Quizzes in {{ category.name }}</h2>
    <div class="row">
        {% for quiz in quizzes %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <h5 class="card-title">{{ quiz.title }}</h5> <span> Total-Question: {{ quiz.questions.count }}</span>
                        <a href="{% url 'quiz:start_quiz' quiz.id %}" class="btn btn-success mt-3">Start Quiz</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center fw-bold mt-4">No quizzes available in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
